@import "tailwindcss";
@plugin "daisyui";

/* defining tailwind variables */
@theme {
  --color-primary-color: #000000;
  --color-admin-secondary-color: #222339;
  --color-admin-primary-color: #1b1c30;
  --color-admin-active-color: #5046bb;
}

* {
  box-sizing: border-box;
}
@font-face {
  font-family: "Inter";
  src: url("/fonts/Inter-VariableFont_opsz\,wght.ttf");
}

body {
  max-width: 100vw;
  overflow-x: hidden;
  padding: 0;
  margin: 0;
  font-family: "Inter", sans-serif;
  scroll-behavior: smooth;
  background-color: var(--color-primary-color);
}

/** remove the up and down arrow in the number input field */
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
/* **** */

.admin-scrollbar::-webkit-scrollbar-track {
  background: #e2e8f0;
}


.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.ribbon {
  font-weight: bold;
  color: #fff;
}
.ribbon {
  --c: #fcc200;
  
  padding: .6em 1.3em; 
  aspect-ratio: 1;
  place-content: center;
  text-align: center;
  position: absolute;
  z-index: 0;
  top: -1.5rem;
  right: -1.5rem;
}
.ribbon:before {
  content:"";
  position: absolute;
  z-index: -1;
  inset: 30% 0 auto;
  aspect-ratio: 1;
  background: color-mix(in srgb, var(--c), #000 35%);
  clip-path: polygon(calc(100%/3) 0,calc(200%/3) 0,100% 90%,80% 85%,calc(200%/3) 100%,calc(100%/3) 0,calc(200%/3) 0,calc(100%/3) 100%,20% 85%,0 90%);
}
.ribbon:after {
  content: "";
  position: absolute;
  z-index: -1;
  inset: 0;
  background: radial-gradient(35% 35%,#0000 96%,#0003 97% 99%,#0000) var(--c);
  clip-path: polygon(100.00% 50.00%,89.66% 55.22%,98.30% 62.94%,86.96% 65.31%,93.30% 75.00%,81.73% 74.35%,85.36% 85.36%,74.35% 81.73%,75.00% 93.30%,65.31% 86.96%,62.94% 98.30%,55.22% 89.66%,50.00% 100.00%,44.78% 89.66%,37.06% 98.30%,34.69% 86.96%,25.00% 93.30%,25.65% 81.73%,14.64% 85.36%,18.27% 74.35%,6.70% 75.00%,13.04% 65.31%,1.70% 62.94%,10.34% 55.22%,0.00% 50.00%,10.34% 44.78%,1.70% 37.06%,13.04% 34.69%,6.70% 25.00%,18.27% 25.65%,14.64% 14.64%,25.65% 18.27%,25.00% 6.70%,34.69% 13.04%,37.06% 1.70%,44.78% 10.34%,50.00% 0.00%,55.22% 10.34%,62.94% 1.70%,65.31% 13.04%,75.00% 6.70%,74.35% 18.27%,85.36% 14.64%,81.73% 25.65%,93.30% 25.00%,86.96% 34.69%,98.30% 37.06%,89.66% 44.78%); /* from https://css-generators.com/starburst-shape/ */
}